{% extends "base.html.twig" %}
{% block body %}
<div class="back">
    <h1>Détails du livre</h1>
    <div><img src="{{book.coverImage}}" alt="{{book.title}}" class="img-thumbnail image" style="height: 200px" ></div>
    <div><p class="detailText">Titre : {{book.title}}</p></div>
    <div><p class="detailText">Auteur : {{book.author}}</p></div>
    <div><p class="detailText">Catégorie : {{book.category.name}}</p></div>
    <div><p class="detailText">Année : {{book.year}}</p></div>
    <div><p class="detailText">Éditeur : {{book.editor}}</p></div>
    <div><p class="detailText">Résumé : {{book.abstract}}</p></div>
    <div><p class="detailText">Extrait : {{book.extract}}</p></div>
    <div><p class="detailText">Nombre de pages : {{book.numberOfPages}}</p></div>
    <div><p class="detailText">Score : {{book.score}}</p></div>
</div>
<input type="button" value="Modifier" href="/construction" id="button_building"/>
{% endblock %}


